.text-input {
    background-color: #fff;
    height: 50px;
    font-size: 18px;
    width: 0;
    border: 0;
    padding: 0;
    transition: width 0.3s ease;

    &:focus,
    &:focus-visible {
        border: unset;
        outline: unset;
    }
}