.main-section {
    &__container {
        width: 100%;
        height: 100%;
        position: relative;
        background: $main-bg;

        &.hover-left {
            .split__content--left {
                width: $hover-width;
            }
    
            .split__content--right {
                width: $other-width;
            }
        }
    
        &.hover-right {
            .split__content--left {
                width: $other-width;
            }
    
            .split__content--right {
                width: $hover-width;
            }
        }
    }
}